#PATTERN BASED IGNORES

~$*.ods
*.tcl~
**/*_lscc/*
**/xlnx_genmake.tcl
**/lscc_genmake.tcl
*/NA/ 
*/NA/*
*ps7_summary.html
*.str
*.dmp
*.debug
*.log
*.jou
*.o
**/.Xil/
**/\.ipynb_checkpoints/
#SPECIFIC DIRECTORY IGNORES


Components/comms/I2C/I2C/
Components/comms/SPI/SPI/

Components/controls/gpio/gpio/
Components/controls/PID/PID/
Components/controls/PwmGenerator/PwmGenerator/
Components/controls/TransformAccellerationUnit/TransformAccellerationUnit/
Components/controls/edge_aligner/Edge Aligner/
Components/controls/phase_reconstructor/Phase_Reconstructor/

Components/signal_chain/AdcProcessing/AdcProcessing/
Components/signal_chain/AdcChannel/AdcChannel/
Components/signal_chain/multiphase_reference_generator/multiphase_reference_generator
Components/signal_chain/decimator/standard_decimator/standard_decimator/


Components/system/EnableGenerator/EnableGenerator/
Components/system/dma_manager/DMA_manager/
Components/system/prioritised_fifo/prioritised_fifo/
Components/system/axi_stream/prioritised_fifo/prioritised_fifo/
Components/system/axi_stream/combiner/Axi_stream_combiner/
Components/system/axi_stream/limiter/limiter/
Components/system/fcore/fCore/
Components/system/fcore/ALU/ALU/
Components/system/fcore/istore/fCore_Istore/
Components/system/axi_stream/sync_repeater/axis_sync_repeater/
Components/system/fcore/alu/FP_saturator/
Components/system/axi_stream/register_slice/register_slice/

Components/ExternalDrivers/AD2S1210/AD2S1210/

Applications/sicDriveCell/SicDriveCell/

Applications/AdcTest/AdcTest/
Applications/CurrentLoop/CurrentLoop/
Applications/CurrentLoopMaster/CurrentLoopMaster/
Applications/CurrentLoopSlave/CurrentLoopSlave/
Applications/fCoreTest/fCoreTest/
Applications/DelayEvaluationExp/DelayEvaluationExp/
Applications/mcs_test/ad7276_test/
Applications/sicDriveCell/sicDriveCell/
Applications/SicDriveMaster/SicDriveMaster/
Applications/SicDriveMaster/tb/fCore_has
Applications/mc_adc_test/mc_adc_tests/
Applications/mc_adc_test/MC_scope_test_top/
Applications/SicDriveMaster/SensorHubTest/sensorHubTest/


#SPECIFIC FILE IGNORES
Applications/AdcTest/output\.bif

\.vscode/launch\.json
Components/AdcProcessing/tb/scripts/__pycache__/
doc/\.ipynb_checkpoints/
\.vscode/settings\.json


Components/system/axi_terminator/AXI terminator/

Applications/SicDriveMaster/SicDriveMaster_old/

Applications/MpcTestbed/MpcTestbed/

Components/system/axi_lite/skid_buffer/skid_buffer/

Components/system/axi_lite/simple_register_cu/simple_register_cu/

Components/system/axi_lite/crossbar/axil_crossbar/

Components/system/axi_stream/constant/constant/

Components/system/axi_lite/external_registers_cu/axil_external_cu/

Components/system/axi_stream/data_mover/AXI_stream_datamover/

Components/system/axi_lite/axis_to_axil/axis_to_axil/

Components/ExternalDrivers/Si5351/Si5351Configurator/

Applications/simple_axi_bram/simple_axi_bram/

Components/system/sorter/sorter/

Components/system/axi_stream/skid_buffer/axis skid_buffer/

Components/controls/nearest_level_modulator/nearest_level_modulator/

Components/system/fcore/efi/sorter/efi_sorter/

Components/system/fcore/efi/trig_unit/efi_trig/

Components/controls/PMP/PMP/

Components/system/axi_lite/axil_dma/axil_dma/

Components/signal_chain/fir_filter/fir_filter/

Components/system/axi_stream/ramp_generator/axis_ramp_generator/

Components/system/fcore_complex/fcore_complex/

Components/system/axi_full/crossbar/axi_xbar/

Components/controls/programmable_sequencer/programmable sequence/

Components/system/axi_stream/data_mover/data moved/
Components/system/axi_full/axi_dma/axi_dma/
Components/system/axi_full/axi_to_axil/axi_to_axil/
Components/system/axi_stream/ultra_buffer/ultra_buffer
Components/system/axi_stream/upsizer/upsizer
Components/signal_chain/SigmaDeltaProcessor/sigma_delta_processor
Components/signal_chain/spi_adc_interface/spi_adc_interface