// Copyright 2021 University of Nottingham Ningbo China
// Author: Filippo Savi <filssavi@gmail.com>
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

`timescale 10ns / 1ns
`include "interfaces.svh"

module SimplebusInterconnect_M1_S{{slaves_n}} #(
    {%- for number in slaves %}
        parameter SLAVE_{{number}}_LOW = 32'h00000000,
        parameter SLAVE_{{number}}_HIGH = 32'hffffffff{%- if not loop.last %},{%- endif %}
    {%- endfor %}
    )(
        input wire clock,
        Simplebus.slave master,
    {%- for number in slaves %}
        Simplebus.master slave_{{number}}{%- if not loop.last %},{%- endif %}
    {%- endfor %} 
    );


    always@(posedge clock) begin
    {%- for number in slaves %}
        // SLAVE #{{number}} CONNECTIONS
        if((master.sb_address>=SLAVE_{{number}}_LOW) && (master.sb_address<SLAVE_{{number}}_HIGH))begin
            slave_{{number}}.sb_address[31:0] <= master.sb_address[31:0];
            slave_{{number}}.sb_write_strobe <= master.sb_write_strobe;
            slave_{{number}}.sb_read_strobe <= master.sb_read_strobe;
            slave_{{number}}.sb_write_data[31:0] <= master.sb_write_data[31:0]; 
        end else begin
            slave_{{number}}.sb_address[31:0] <= 0;
            slave_{{number}}.sb_write_strobe <= 0;
            slave_{{number}}.sb_read_strobe <= 0;
            slave_{{number}}.sb_write_data[31:0] <= 0;
        end
    {%- endfor %} 

        master.sb_read_data[31:0] <= {% for nslave in slaves %}slave_{{nslave}}.sb_read_data[31:0]{%- if not loop.last %} | {% endif %}{%- endfor %};
        master.sb_ready <= {% for nslave in slaves %}slave_{{nslave}}.sb_ready{%- if not loop.last %} & {% endif %}{%- endfor %};
    end

endmodule
